*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/image/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    /* background: linear-gradient(to right, #be5f7e, #898ca9); */
    /* padding-top: 100px; */
    /* background-size: cover; */
    /* Adjust this value based on the actual height of your navbar */
}

.container1 {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-top: 100px;
}



.box {
    /* background: #fafafa; */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3); */
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    
}

.box::before {
    content: '';
    position: relative;
    height: 110%;
    width: 110%;
    left: 100px;
    top: 100px;
    background-color: rgba(251, 250, 250, 0.3);
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.151);
    z-index: -1;
    border-radius: 20px;
}

h1 {
    font-weight: bold;
    font-size: 10px;
    padding: 20px 0;
}

.content {
    padding: 0 30px;
    
}

.input {
    /* background: #fff; */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    margin: 20px 60px;
    /* Adjust margin for inputs */
    padding: 15px;
    width: 350px;
}

.input label {
    display: block;
    font-size: 20px;
    padding: 10px;
    /* Adjust font-size for labels */
    font-weight: 600;
    margin-bottom: 50px 50px;
    /* Adjust margin-bottom for labels */
    
    color: #000;
}

.input input {
    background-color: none;
    outline: none;
    border: none;
    /* border-bottom: 1px solid #4f7df9; */
    font-size: 20px;
    /* Adjust font-size for inputs */
    color: #000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
     box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
    width: 60%;
    text-align: center;
}

button#calculate {
    background-color: rgba(235, 229, 229, 0.3);
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 10px #ffffff4d;
    font-size: 20px;
    font-weight: 600;
    color: #2f7e4a;;
    /* Adjust font-size for buttons */
    border-radius: 20px;
    padding: 10px 20px;
    width: 40%;
    border: none;
    outline: none;
    transition: background .2s ease;
}

button#calculate:hover {
    background: #2d9951;
    color: hsl(0, 0%, 100%);
}

.result {
    /* padding: 5px 5px; */
    /* Adjust padding for result */
}

.result p {
    font-size: 18px;
    /* Adjust font-size for result text */
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    /* Adjust margin-bottom for result text */
}

.result #bmi {
    font-size: 30px;
    /* Adjust font-size for BMI */
    font-weight: 700;
    /* margin-bottom: 5px; */
    color: #101110;
    /* background-color: #eaeaea; */
    /* padding: 5px 5px; */
    border-radius: 20px;
    display: inline-block;
}

/* CArds */
.colo{
    background-color: rgba(4, 251, 115, 0.709);
}





